<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3c.org/1999/xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/templates/main.xhtml">
                
    <ui:define name ="content">
        <h:form id="userProfileForm">
        
        	<h1>
				<h:outputText value="ALL PROFILES" style="color:white;" />
			</h1>

			<h3>
				<h:outputText value="Infromations about other profiles"
					style="color:white;" />
			</h3>
        
             <p:dataTable id="usersTable" var="user" value="#{userProfileListController.users}">
                <p:column  width="120" headerText="Username" filterBy="#{user.username}">
                    <h:outputText value="#{user.username}"/>
                </p:column>
                <p:column width="150" headerText="First Name" filterBy="#{user.firstName}">
                    <h:outputText value="#{user.firstName}"/>
                </p:column>
                <p:column width="150" headerText="Last Name" filterBy="#{user.lastName}">
                    <h:outputText value="#{user.lastName}"/>
                </p:column> 
                <p:column style="width:100px;text-align: center">
                <p:commandButton update=":userProfileForm:userProfileDialog" oncomplete="PF('userProfileDialog').show()"
						icon="ui-icon-note"
						title="Show">
						<f:setPropertyActionListener value="#{user}"
							target="#{userProfileDetailController.user}" />
					</p:commandButton>
                 </p:column>
            </p:dataTable>

         <p:dialog id="userProfileDialog" header="User Profile" widgetVar="userProfileDialog" modal="true" showEffect="fade" hideEffect="fade" resizable="false">
 			 <p:dataTable var="userProfile" value="#{userProfileDetailController.user.profile}" style="margin-bottom:40px">
        
        <p:column  headerText="Right Pools">
           <h:outputText value="#{userProfile.rightPools}" />
        </p:column>  
        <p:column headerText="Total Time">
			<h:outputText value="#{userProfile.getTotalTimeString()}" />
		</p:column>
        <p:column headerText="Right answers">
            <h:outputText value="#{userProfile.noSucceed}" />
        </p:column>
        <p:column headerText="Wrong answers">
            <h:outputText value="#{userProfile.noFailed}" />
        </p:column>
        <p:column headerText="Played With">
			<h:outputText value="#{userProfile.playedWith}" />
		</p:column>
        
    </p:dataTable>
 		</p:dialog>
         
 </h:form>
    </ui:define>
</ui:composition>