<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	template="/WEB-INF/templates/main.xhtml">

	<ui:define name="content">


		<h:form id="createGame">
		
			<h1>
				<h:outputText value="CREATE GAME" style="color:white;" />
			</h1>

			<h3>
				<h:outputText value="Enter a team name and choose the questionpools you want to play "
					style="color:white;" />
			</h3>


			<p:messages showDetail="false" closable="true" showSummary="true">
				<p:autoUpdate />
			</p:messages>



			<h:panelGrid columns="2" cellpadding="5" style="margin: 0 auto;">


				<h:outputLabel for="teamName" value="Teamname:" class="schrift" />
				<h:inputText id="teamName"
					value="#{gameRoomDetailController.gameRoom.teamName}"
					required="true" requiredMessage="please enter a teamname"
					class="inputtexter" />


				<h:outputLabel for="selectedPools" value="Select Question Pools:"
					class="schrift" />
				<h:selectOneMenu id="selectedPools"
					value="#{gameRoomDetailController.selectedPools}" label="Pools"
					style="width:140px">
					<f:selectItems value="#{poolDetailController.toHurn()}"
						class="backgroundcolor" />
					<p:ajax event="change" update="numberAnswers" />
				</h:selectOneMenu>
				
				
					<h:outputLabel for="numberAnswers" value="Select Number Answers:" class="schrift"/>
					<h:selectOneMenu id="numberAnswers" value = "#{gameRoomDetailController.numberAnswers}"  style="width:140px">
  						 <f:selectItem itemValue = "4" itemLabel = "4" class="backgroundcolor" />
  						 <f:selectItem itemValue = "5" itemLabel = "5" class="backgroundcolor" itemDisabled="#{!gameRoomDetailController.selectedPools.equals('6 TV-Serien easy')}"/> 
  						 <f:selectItem itemValue = "6" itemLabel = "6" class="backgroundcolor" itemDisabled="#{!gameRoomDetailController.selectedPools.equals('6 TV-Serien easy')}"/>
					</h:selectOneMenu> 	
					
 					<h:outputLabel for="gameMode" value="Select Gamemode:" class="schrift"/>
					<h:selectOneMenu id="gameMode" value = "#{gameRoomDetailController.gameMode}" style="width:140px"> 
  						 <f:selectItem itemValue = "0" itemLabel = "Normal" /> 
  						 <f:selectItem itemValue = "1" itemLabel = "Reverse"/>  
					</h:selectOneMenu> 
					
					<h:outputLabel for="maxPlayers" value="Select Max. Players:" class="schrift"/>
					<h:selectOneMenu id="maxPlayers" value = "#{gameRoomDetailController.maxPlayers}" style="width:140px"> 
  						 <f:selectItem itemValue = "2" itemLabel = "2" /> 
  						 <f:selectItem itemValue = "3" itemLabel = "3" /> 
  						 <f:selectItem itemValue = "4" itemLabel = "4" /> 
					</h:selectOneMenu>	

			</h:panelGrid>
			<p:separator />

			<p:commandButton value="Save"
				action="#{gameRoomDetailController.doSaveGameRoom()}"
				class="commandButton">

			</p:commandButton>




		</h:form>

	</ui:define>

</ui:composition>