<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3c.org/1999/xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                
                xmlns:pe="http://primefaces.org/ui/extensions"
                template="/WEB-INF/templates/main.xhtml">
    <ui:define name ="content">
       <h:body>
       <h:form id="profile">
			<p:messages id="profile" showDetail="true" autoUpdate="true"/>
	        <h:panelGrid id="matchGrid" >                   
		        
			       <p:outputLabel for="firstName" value="First name: " />
				   <p:inputText id="firstName" value="#{updateProfilBean.firstName}" />
				   <p:outputLabel for="lastName" value="Last name: " />
				   <p:inputText id="lastName" value="#{updateProfilBean.lastName}" />
				   <p:outputLabel for="email" value="E-Mail: " />
				   <p:inputText id="email" value="#{updateProfilBean.email}" />
				   <p:outputLabel for="phone" value="Phone: " />
				   <p:inputText id="phone" value="#{updateProfilBean.phone}" />
				   
				   <p:button href="passwordChanger.xhtml" value="To passwort changer" />
		        
		     </h:panelGrid>
			 
			 <p:commandButton update=":profile:matchGrid" icon="fa fa-check" value="Update profile" action="#{updateProfilBean.updateProfile()}"/>

		</h:form>
		
      </h:body>
       
    </ui:define>
</ui:composition>