<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3c.org/1999/xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/templates/main.xhtml">
                
   
    
    
    <ui:define name ="content">
    
    	<h:form id="gameRoomForm">
    		
    		<h:outputText value = "Pools: " />
    		<p:dataList id="poollist" value="#{gameRoomLobbyController.gameRoom.pools}" var="pool"  itemType="disc">
 					#{pool.getTopic()}
 			</p:dataList>
 			<h:outputText value = "Users: " />
 			<p:dataList id="userlist" value="#{gameRoomLobbyController.getGameroomUsers()}" var="user"  itemType="disc">
 					#{user.getUsername()}
 					
 			</p:dataList>
 			<pre><h:outputText value="PIN: #{gameRoomLobbyController.gameId}"/></pre>
 			
 			<p:commandButton value="Start Game" action="#{gameController.startGame()}" rendered="#{gameRoomLobbyController.isTeamleader()}"  ></p:commandButton>
 			<p:socket channel="/game/#{gameController.gameId}">
                    <p:ajax event="message" update=":gameRoomForm" listener="#{gameController.redirectForPlayers}" />
                </p:socket>
        </h:form>
	</ui:define>
</ui:composition>
            