<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3c.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	template="/WEB-INF/templates/main.xhtml">




	<ui:define name="content">

		<f:metadata>
			<f:event type="preRenderView" listener="#{gameController.gameOver}" />
			<f:event type="preRenderView" listener="#{gameController.preRender}" />
		</f:metadata>

		<h:outputStylesheet type="text/css" rel="stylesheet"
			href="/resources/css_classes/nice.css" />


		<h:panelGroup id="pan">
			<p:panel class="gamepanel">
				<h:form id="gameForm">

					<h:outputText id="txt_count" value="#{gameController.progress}"
						class="schrift" />
					<p:poll interval="1" listener="#{gameController.decrement}"
						stop="#{gameController.stop()}" update="txt_count" />
					<div id="progVar"></div>
					


					<h3>
						<h:outputText value="#{gameController.question.question}"
							rendered="#{gameController.questionMode()}" style="color:white;" />
					</h3>
					<h:panelGrid columns="1" style="margin:0px auto;" rendered="#{gameController.question.video!=null}">
<iframe width="420" height="275" src="#{gameController.question.video}" frameborder="0" allow="autoplay; encrypted-media" ></iframe>
					</h:panelGrid>
					<h:panelGrid columns="2" class="gamepaneler"
						rendered="#{gameController.questionMode()}">
						<p:repeat id="answerlist" value="#{gameController.answers}"
							var="answer">
							<h:commandButton action="#{gameController.doAnswer(answer)}"
								value="#{answer.answer}" class="gamebutton">
								<f:ajax delay="500" execute="@form" />
							</h:commandButton>
						</p:repeat>
					</h:panelGrid>


					<h3>
						<h:outputText
							value="#{gameController.question.answers.get(0).answer}"
							rendered="#{gameController.answerMode()}" />
					</h3>

					<h:panelGrid columns="2" class="gamepaneler"
						rendered="#{gameController.answerMode()}">
						<p:repeat id="questionlist" value="#{gameController.answers}"
							var="answer">
							<h:commandButton action="#{gameController.doAnswer(answer)}"
								value="#{answer.question.get(0).question}" class="gamebutton">
								<f:ajax delay="1000" execute="@form" />
							</h:commandButton>
						</p:repeat>

					</h:panelGrid>



					<h:outputText value="#{gameController.getStatsCurrentPool()}" />
					<br></br>
					<h:commandButton action="#{gameController.joker()}"
						value="Use Joker" rendered="#{gameController.jokerAvailable()}"
						class="gamebutton">
						<f:ajax execute="@form" />

					</h:commandButton>



				</h:form>
			</p:panel>
		</h:panelGroup>

		<p:socket channel="/game/#{gameController.gameId}" autoConnect="true"
			widgetVar='subscriber'>
			<p:ajax event="message" update=":pan"
				listener="#{gameController.update}" />
		</p:socket>

		<p:commandButton value="Leave Gameroom" update=":pan"
			action="#{gameRoomDetailController.leaveGame()}">
		</p:commandButton>
	</ui:define>
</ui:composition>


