<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	template="/WEB-INF/templates/main.xhtml">

	<ui:define name="content">



		<h:form id="joinGame">
			<h1>
				<h:outputText value="JOIN GAME" style="color:white;" />
			</h1>

			<h3>
				<h:outputText value="Enter a game PIN to join a game room "
					style="color:white;" />
			</h3>

			<p:messages showDetail="false" closable="true" showSummary="true"
				redisplay="false">
				<p:autoUpdate />
			</p:messages>


			<h:panelGrid columns="2" style="margin: 0 auto;">
				<h:outputText for="pin" value="Game PIN:  " />
				<p:inputText id="pin" value="#{gameRoomDetailController.grid}"
					class="inputtexter" style="width:100px;" required="true"
					requiredMessage="please enter a game PIN" />
			</h:panelGrid>
			<p:commandButton value="Play"
				action="#{gameRoomDetailController.doSaveById()}"
				class="commandButton" />







		</h:form>

	</ui:define>

</ui:composition>