<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3c.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	template="/WEB-INF/templates/main.xhtml">



	<ui:define name="content">
		<h:form id="answerStatisticForm">
 	
			<h1>
				<h:outputText value="PROFILE" style="color:white;" />
			</h1>

			<h3>
				<h:outputText value="Informations about your profile"
					style="color:white;" />
			</h3>


			<p:dataTable var="userProfile"
				value="#{userProfileDetailController.loadCurrentUser().profile}"
				style="margin-bottom:40px">

				<p:column headerText="Right Pools">
					<h:outputText value="#{userProfile.rightPools}" />
				</p:column>
				<p:column headerText="Total Time">
					<h:outputText value="#{userProfile.getTotalTimeString()}" />
				</p:column>
				<p:column headerText="Right answers">
					<h:outputText value="#{userProfile.noSucceed}" />
				</p:column>
				<p:column headerText="Wrong answers">
					<h:outputText value="#{userProfile.noFailed}" />
				</p:column>
				<p:column headerText="Played With">
					<h:outputText value="#{userProfile.playedWith}" />
				</p:column>
				
			</p:dataTable>

		</h:form>
	</ui:define>
</ui:composition>