<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	template="/WEB-INF/templates/main.xhtml">



	<ui:define name="content">
		<h:outputStylesheet type="text/css" rel="stylesheet"
			href="/resources/css_classes/nice.css" />
		<h:form id="answerStatisticForm">

			<h1>
				<h:outputText value="STATISTICS" style="color:white;" />
			</h1>

			<h3>
				<h:outputText value="Your statistics in this game"
					style="color:white;" />
			</h3>

			<p:dataTable id="lastGamesPlayed" var="answerStatistic"
				value="#{answerStatisticDetailController.lastGamesPlayed()}"
				style="margin-bottom:40px" widgetVar="answerStatisticTable">


				<f:facet name="header">
            Last Games Played
        </f:facet>

				<p:column headerText="Percentage">
					<h:outputText value="#{answerStatistic.percentage}" />
				</p:column>
				<p:column headerText="Topic">
					<h:outputText value="#{answerStatistic.topic}" />
				</p:column>
				<p:column headerText="Right answers">
					<h:outputText value="#{answerStatistic.noSucceed}" />
				</p:column>
				<p:column headerText="Wrong answers">
					<h:outputText value="#{answerStatistic.noFailed}" />
				</p:column>
			</p:dataTable>



			<p:dataTable id="answerStatisticDialog" var="answerStatistic"
				value="#{answerStatisticDetailController.getAnswerStatistics()}"
				style="margin-bottom:40px" emptyMessage="No Records found"
				widgetVar="answerStatisticTable">


				<f:facet name="header">
            Overall Statistics
        </f:facet>
				<p:column headerText="Percentage" sortBy="#{answerStatistic[0]}">
					<h:outputText value="#{answerStatistic[0]}" />
				</p:column>
				<p:column filterBy="#{answerStatistic[1]}" headerText="Topic">
					<h:outputText value="#{answerStatistic[1]}" />
				</p:column>
				<p:column headerText="Right answers">
					<h:outputText value="#{answerStatistic[2]}" />
				</p:column>
				<p:column headerText="Wrong answers">
					<h:outputText value="#{answerStatistic[3]}" />
				</p:column>
			</p:dataTable>

			<p:remoteCommand autoRun="true"
				oncomplete="PF('answerStatisticTable').filter();" />


		</h:form>
	</ui:define>
</ui:composition>