<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3c.org/1999/xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                
                xmlns:pe="http://primefaces.org/ui/extensions"
                template="/WEB-INF/templates/main.xhtml">
    <ui:define name ="content">
       <h:body>
       <h:form id="pwdChangeForm">
			<p:messages id="messages" showDetail="true" autoUpdate="true"/>
	        <h:panelGrid id="matchGrid" >                   
		        
			        <h:panelGrid columns="1" id="pwl" cellpadding="5">
			    
			        	<h:outputLabel for="pwd" value="New Password: *"/></h:panelGrid>
			        	<h:panelGrid columns="3" id="pw" cellpadding="5">
				        <h:inputSecret id="pwd" match="pwd2" label="Password" value="#{passwordGeneratorBean.newPassword}" style="length:40px; height:27px;" required="true" feedback="true" >
				        	<p:ajax event="keyup" update="showNewPwd" />
				        </h:inputSecret>
						<p:selectBooleanButton  onLabel="Hide" offLabel="Show" onIcon="fa fa-eye-slash" offIcon="fa fa-eye" style="length:40px; height:30px;" value="#{passwordGeneratorBean.showPassword}" update="shPwd" >
							<p:ajax event="change" update="shPwd" />
						</p:selectBooleanButton>
						
						<h:panelGrid id="shPwd" columns="1">
							<h:outputText id="showNewPwd" value="#{passwordGeneratorBean.newPassword}" rendered="#{passwordGeneratorBean.showPassword}"/>
						</h:panelGrid>
					</h:panelGrid>
					
					<h:panelGrid columns="1" id="pw2l" cellpadding="5">
			        	<h:outputLabel for="pwd2" value="Confirm Password: *"/></h:panelGrid><h:panelGrid columns="3" id="pw2" cellpadding="5">
				        <h:inputSecret id="pwd2" match="pwd" label="Password" value="#{passwordGeneratorBean.confirmPassword}" style="length:40px; height:27px" required="true" feedback="true">
				        	<p:ajax event="keyup" update="showNewPwd" />
				        </h:inputSecret>
						<p:selectBooleanButton onLabel="Hide" offLabel="Show" onIcon="fa fa-eye-slash" offIcon="fa fa-eye" style="length:40px; height:30px; align:right;" value="#{passwordGeneratorBean.showPassword}" update="shPwd" >
							<p:ajax event="change" update="shPwd2" />
						</p:selectBooleanButton>
						
						<h:panelGrid id="shPwd2" columns="1">
							<h:outputText id="showNewPwd2" value="#{passwordGeneratorBean.confirmPassword}" rendered="#{passwordGeneratorBean.showPassword}"/>
						</h:panelGrid>
					</h:panelGrid>
		        
		     </h:panelGrid>
			 
			 <p:commandButton update=":pwdChangeForm:matchGrid" icon="fa fa-check" value="Save" action="#{passwordGeneratorBean.updatePassword()}"/>

		</h:form>
		
		<h:form id="generateForm">
			<p:panel id="basic" header="Generate Password" style="margin-top:20px">
	        
	        <h:panelGrid columns="2">
	        
	        	<h:outputText value="Use Upper Case Letters " />
		        <p:selectBooleanCheckbox id="useUpperCaseLetters" value="#{passwordGeneratorBean.useUpperCaseLetters}"/>
		        
		        <h:outputText value="Use mutaded Vowels " />
		        <p:selectBooleanCheckbox id="usemutadedVowels" value="#{passwordGeneratorBean.usemutadedVowels}"/>
		        
		        <h:outputText value="Use Digits " />
		        <p:selectBooleanCheckbox id="useDigits" value="#{passwordGeneratorBean.useDigits}"/>
		        
		        <h:outputText value="Use Special Signs " />
		        <p:selectBooleanCheckbox id="useSpecialSigns" value="#{passwordGeneratorBean.useSpecialSigns}" update="buttons"/>

		        <h:outputText for="lenOfPwd" value="Length of Password: " />
		        <p:spinner id="lenOfPwd" value="#{passwordGeneratorBean.len}" min="5" max="64" />
	        </h:panelGrid>
	        
	        <h:panelGrid id="buttons" columns="2">
		        <p:commandButton id="gen" icon="fa fa-random" value="Generate!" action="#{passwordGeneratorBean.generatePassword()}" update="showGenPass"/>
				<h:outputText id="showGenPass" value="#{passwordGeneratorBean.generatedPassword}"/>
				<p:commandButton id="genSaver" icon="fa fa-check" value="Save generate password!" action="#{passwordGeneratorBean.saveGeneratedPassword()}" />
	        </h:panelGrid>
	        
	        </p:panel>
        </h:form>
        <p:button  href="editmyprofile.xhtml" value="To profile changer" />
      </h:body>
       
    </ui:define>
</ui:composition>