<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	template="/WEB-INF/templates/main.xhtml">

	<ui:define name="content">
		<link type="text/css" rel="stylesheet"
			href="/resources/css_classes/nice.css" />


		<h:form id="userForm">


			<h1>
				<h:outputText value="CREATE USER" style="color:white;" />
			</h1>

			<p:messages showDetail="false" closable="true" showSummary="true">
				<p:autoUpdate />
			</p:messages>


			<h:panelGrid columns="2" style="margin: 0 auto;">
				<h:outputLabel value="Username: " class="schrift" />
				<p:inputText value="#{userDetailController.newUser.username}"
					class="inputtexter" required="true"
					requiredMessage="please enter a username" />

				<h:outputLabel value="Password: " class="schrift" />
				<p:inputText value="#{userDetailController.newUser.password}"
					class="inputtexter" required="true"
					requiredMessage="please enter a password" />

				<h:outputLabel value="Firstname: " class="schrift" />
				<p:inputText value="#{userDetailController.newUser.firstName}"
					class="inputtexter" required="true"
					requiredMessage="please enter your first name" />

				<h:outputLabel value="Lastname: " class="schrift" />
				<p:inputText value="#{userDetailController.newUser.lastName}"
					class="inputtexter" required="true"
					requiredMessage="please enter your las name" />

				<h:outputLabel value="E-Mail: " class="schrift" />
				<p:inputText value="#{userDetailController.newUser.email}"
					class="inputtexter" required="true"
					requiredMessage="please enter an email" />


				<h:outputLabel value="Role: " class="schrift" />
				<h:selectOneMenu value="#{userDetailController.chooseRole}"
					class="dropdownlist">
					<f:selectItem itemlabel="Player" itemValue="PLAYER" />
					<f:selectItem itemlabel="Teacher" itemValue="TEACHER" />
					<f:selectItem itemlabel="Admin" itemValue="ADMIN" />
				</h:selectOneMenu>



				<p:commandButton value="Save"
					action="#{userDetailController.doCreateUser()}"
					class="commandButton" onclick="PF('dlg1').show()" />


				<p:dialog header="User Saved" ind="dlg1" widgetVar="dlg1"
					height="100" width="500" style="margin: 0 auto;">
					<h:outputText
						value="The user was saved. To see all users go to Manage Users " />
				</p:dialog>


			</h:panelGrid>




		</h:form>
	</ui:define>
</ui:composition>