<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3c.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	template="/WEB-INF/templates/main.xhtml">

	<head>
<link type="text/css" rel="stylesheet"
	href="/resources/css_classes/nice.css" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
	</head>

	<link type="text/css" rel="stylesheet"
		href="/resources/css_classes/nice.css" />


	<ui:define name="content">
		<h:form id="userForm">


			<h1>
				<h:outputText value="MANAGE USER" style="color:white;" />
			</h1>
			
			<p:dataTable id="usersTable" var="user"
				value="#{userListController.users}" styleClass="datatable"
				class="datatable">
				<p:column width="230" headerText="Username"
					filterBy="#{user.username}">
					<h:outputText value="#{user.username}" />
				</p:column>
				<p:column width="230" headerText="First Name"
					filterBy="#{user.firstName}">
					<h:outputText value="#{user.firstName}" />
				</p:column>
				<p:column filterBy="#{user.lastName}" width="230"
					headerText="Last Name">
					<h:outputText value="#{user.lastName}" />
				</p:column>
				<p:column headerText="Email">
					<h:outputText value="#{user.email}" />
				</p:column>
				<p:column filterBy="#{user.roles}" width="220" headerText="Roles"
					filterMatchMode="contains">
					<h:outputText value="#{user.roles}" />
				</p:column>
				<p:column style="width:140px;text-align: center">
					<p:commandButton update=":userForm:userEditDialog"
						oncomplete="PF('userEditDialog').show()" icon="ui-icon-note"
						title="Edit">
						<f:setPropertyActionListener value="#{user}"
							target="#{userDetailController.user}" />
					</p:commandButton>
					<p:commandButton action="#{userDetailController.doDeleteUser}"
						icon="ui-icon-trash" title="Delete" update=":userForm:usersTable">
						<f:setPropertyActionListener value="#{user}"
							target="#{userDetailController.user}" />
						<p:confirm header="Confirmation"
							message="Are you sure that you want to delete this user? You cannot undo this operation."
							icon="ui-icon-alert" />
					</p:commandButton>
				</p:column>
			</p:dataTable>

			<p:dialog header="Edit User" id="userEditDialog"
				widgetVar="userEditDialog" modal="true" showEffect="fade"
				hideEffect="fade" resizable="false">
				<p:outputPanel id="userData"
					rendered="#{not empty userDetailController.user}">
					<h:panelGrid columns="2">
						<p:outputLabel for="username" value="Username: " />
						<p:inputText id="username"
							value="#{userDetailController.user.username}" disabled="true" />
						<p:outputLabel for="password" value="Password: "/>
						<p:password id="password"
							value="#{userDetailController.user.password}" disabled="true"/>
					</h:panelGrid>
					<p:separator />
					<h:panelGrid columns="2">
						<p:outputLabel for="firstName" value="First Name: " />
						<p:inputText id="firstName"
							value="#{userDetailController.user.firstName}" />
						<p:outputLabel for="lastName" value="Last Name: " />
						<p:inputText id="lastName"
							value="#{userDetailController.user.lastName}" />
						<p:outputLabel for="email" value="E-Mail: " />
						<p:inputText id="email" value="#{userDetailController.user.email}" />
						<p:outputLabel for="roles" value="Role:" />
						<p:selectOneMenu id="roles"
							value="#{userDetailController.user.role}">
							<f:selectItem itemLabel="Player" itemValue="PLAYER" />
							<f:selectItem itemLabel="Teacher" itemValue="TEACHER" />
							<f:selectItem itemLabel="Admin" itemValue="ADMIN" />

						</p:selectOneMenu>

					</h:panelGrid>
					<p:separator />
					<h:panelGrid columns="3">
						<p:commandButton value="Save"
							action="#{userDetailController.doSaveUser()}"
							oncomplete="PF('userEditDialog').hide()"
							update=":userForm:usersTable" >
							</p:commandButton>
						<p:commandButton value="Reload"
							action="#{userDetailController.doReloadUser()}"
							update=":userForm:userData" />
						<p:commandButton value="Abort"
							onclick="PF('userEditDialog').hide()" />
					</h:panelGrid>
				</p:outputPanel>
			</p:dialog>

			<p:confirmDialog global="true" showEffect="fade" hideEffect="fade"
				width="300">
				<p:commandButton value="Yes" type="button"
					styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
				<p:commandButton value="No" type="button"
					styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
			</p:confirmDialog>

		</h:form>
	</ui:define>
</ui:composition>