<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets">

<h:head>
	<link type="text/css" rel="stylesheet"
		href="/resources/css_classes/nice.css" />


	<title>Gruppe V</title>
</h:head>

<h:body style="margin:10px;">
		
	<div id="page">

		<div id="header" style="margin-bottom: 10px;">
			<ui:include src="/WEB-INF/includes/header.xhtml" />
		</div>
		<div id="content">
			<ui:insert name="content">Content</ui:insert>
		</div>


		<div id="footer" style="margin-top: 10px;">
			<ui:include src="/WEB-INF/includes/footer.xhtml" />
		</div>

	</div>

</h:body>
</html>