<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3c.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	template="/WEB-INF/templates/main.xhtml">

	<head>
<h:outputStylesheet library="css" name="/resources/css_classes/nice.css" />
	</head>

	<ui:define name="content">


		<link type="text/css" rel="stylesheet"
			href="/resources/css_classes/nice.css" />
		<h:form id="poolForm">

			<h1>
				<h:outputText value="ALL QUESTIONPOOLS" style="color:white;" />
			</h1>

			<h3>
				<h:outputText value="These are all available questionpools "
					style="color:white;" />
			</h3>



			<p:dataTable id="poolsTable" var="pool"
				value="#{poolListController.pools}" style="margin: 0 auto;">
				<p:column width="220" headerText="ID">
					<h:outputText value="#{pool.id}" />
				</p:column>
				<p:column width="220" headerText="Topic" filterBy="#{pool.topic}">
					<h:outputText value="#{pool.topic}" />
				</p:column>
				<p:column width="220" headerText="Difficulty"
					filterBy="#{pool.difficulty}">
					<h:outputText value="#{pool.difficulty}" />
				</p:column>
				<p:column>
					<p:commandButton update=":poolForm:questionDialog"
						oncomplete="PF('questionDialog').show()" icon="ui-icon-note"
						title="Edit">
						<f:setPropertyActionListener value="#{pool}"
							target="#{poolDetailController.pool}" />
					</p:commandButton>
				</p:column>
			</p:dataTable>

			<p:dialog id="questionDialog" header="Questions"
				widgetVar="questionDialog" modal="true" showEffect="fade"
				hideEffect="fade" class="hoila">
				<p:dataTable id="myPools" var="question"
					value="#{poolDetailController.pool.questions}"
					style="margin-bottom:40px" widgetVar="myPoolsTable">

					<p:column headerText="Question">
						<h:outputText value="#{question.question}" />
					</p:column>
					<p:column headerText="Answers">
						<p:dataList id="answers" value="#{question.answers}" var="answer"
							itemType="disc">
 							#{answer.getAnswer()}
 						</p:dataList>
					</p:column>
				</p:dataTable>



			</p:dialog>
		</h:form>


	</ui:define>
</ui:composition>