<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3c.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	template="/WEB-INF/templates/main.xhtml">


	<head>
<h:outputStylesheet library="css" name="/resources/css_classes/nice.css" />
	</head>
	<ui:define name="content">

		<h:outputStylesheet library="css"
			name="/resources/css_classes/nice.css" />

		<link type="text/css" rel="stylesheet"
			href="/resources/css_classes/nice.css" />

		<h:form id="answerStatisticForm">

			<h1>
				<h:outputText value="ALL STATISTICS" style="color:white;" />
			</h1>

			<h3>
				<h:outputText value="Statistics of other players"
					style="color:white;" />
			</h3>

			<p:dataTable id="usersTable" var="user"
				value="#{answerStatisticListController.users}">
				<p:column width="120" headerText="Username"
					filterBy="#{user.username}">
					<h:outputText value="#{user.username}" />
				</p:column>
				<p:column width="150" headerText="First Name"
					filterBy="#{user.firstName}">
					<h:outputText value="#{user.firstName}" />
				</p:column>
				<p:column width="150" headerText="Last Name"
					filterBy="#{user.lastName}">
					<h:outputText value="#{user.lastName}" />
				</p:column>
				<p:column style="width:100px;text-align: center">
					<p:commandButton
						update=":answerStatisticForm:answerStatisticDialog"
						oncomplete="PF('answerStatisticDialog').show()"
						icon="ui-icon-note" title="Show">
						<f:setPropertyActionListener value="#{user}"
							target="#{answerStatisticDetailController.user}" />
					</p:commandButton>
				</p:column>
			</p:dataTable>

			<p:dialog id="answerStatisticDialog" header="Statistic"
				widgetVar="answerStatisticDialog" modal="true" showEffect="fade"
				hideEffect="fade" resizable="true" height="100%" styleClass="hoila">

				<p:dataTable id="lastGamesPlayed" var="answerStatistic"
					value="#{answerStatisticDetailController.lastGamesPlayedAllStatistics()}"
					style="margin-bottom:40px" widgetVar="answerStatisticTable">


					<f:facet name="header">
            Last Games Played
        </f:facet>

					<p:column headerText="Percentage">
						<h:outputText value="#{answerStatistic.percentage}" />
					</p:column>
					<p:column headerText="Topic">
						<h:outputText value="#{answerStatistic.topic}" />
					</p:column>
					<p:column headerText="Right answers">
						<h:outputText value="#{answerStatistic.noSucceed}" />
					</p:column>
					<p:column headerText="Wrong answers">
						<h:outputText value="#{answerStatistic.noFailed}" />
					</p:column>
				</p:dataTable>



				<p:dataTable id="answerStatistic123" var="answerStatistic"
					value="#{answerStatisticDetailController.getAnswerStatisticsAllStatistics()}"
					style="margin-bottom:40px" emptyMessage="No Records found"
					widgetVar="answerStatisticTable">


					<f:facet name="header">
           				 Overall Statistics
        			</f:facet>
					<p:column headerText="Percentage" sortBy="#{answerStatistic[0]}">
						<h:outputText value="#{answerStatistic[0]}" />
					</p:column>
					<p:column filterBy="#{answerStatistic[1]}" headerText="Topic"
						filterMatchMode="contains">
						<h:outputText value="#{answerStatistic[1]}" />
					</p:column>
					<p:column headerText="Right answers">
						<h:outputText value="#{answerStatistic[2]}" />
					</p:column>
					<p:column headerText="Wrong answers">
						<h:outputText value="#{answerStatistic[3]}" />
					</p:column>
				</p:dataTable>

				<p:remoteCommand autoRun="true"
					oncomplete="PF('answerStatisticTable').filter();" />

			</p:dialog>



		</h:form>
	</ui:define>
</ui:composition>