<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	template="/WEB-INF/templates/main.xhtml">

	<ui:define name="content">
		<link type="text/css" rel="stylesheet"
			href="/resources/css_classes/nice.css" />

		<h:form id="userForm2">

			<h1>
				<h:outputText value="CREATE USER" style="color:white;" />
			</h1>

			<p:messages showDetail="false" closable="true">
				<p:autoUpdate />
			</p:messages>

			<h:panelGrid columns="2" style="margin: 0 auto;">
				<h:outputLabel for="username" value="Username: " class="schrift" />
				<p:inputText id="username"
					value="#{userDetailController.newUser.username}" required="true"
					requiredMessage="please enter a username" class="inputtexter" />

				<h:outputLabel for="password" value="Password: " class="schrift" />
				<p:inputText id="password"
					value="#{userDetailController.newUser.password}" required="true"
					requiredMessage="please enter a password" class="inputtexter" />

				<h:outputLabel for="firstname" value="Firstname: " class="schrift" />
				<p:inputText id="firstname"
					value="#{userDetailController.newUser.firstName}" required="true"
					requiredMessage="please enter your firstname" class="inputtexter" />

				<h:outputLabel for="lastname" value="Lastname: " class="schrift" />
				<p:inputText id="lastname"
					value="#{userDetailController.newUser.lastName}" required="true"
					class="inputtexter" requiredMessage="please enter your lastname" />

				<h:outputLabel for="email" value="E-Mail: " class="schrift" />
				<p:inputText id="email"
					value="#{userDetailController.newUser.email}" required="true"
					class="inputtexter" requiredMessage="please enter your e-mail" />


				<h:outputLabel for="role" value="Role: " class="schrift" />
				<h:selectOneMenu id="role"
					value="#{userDetailController.chooseRole}" class="dropdownlist">
					<f:selectItem itemlabel="Player" itemValue="PLAYER" />
					<f:selectItem itemlabel="Teacher" itemValue="TEACHER" />
					<f:selectItem itemlabel="Admin" itemValue="ADMIN" />
				</h:selectOneMenu>



				<p:commandButton name="h" value="Save"
					action="#{userDetailController.doCreateUser()}"
					class="commandButton" />

			</h:panelGrid>
		</h:form>
	</ui:define>
</ui:composition>