<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	template="/WEB-INF/templates/main.xhtml">
	<ui:define name="content">
		<link type="text/css" rel="stylesheet"
			href="/resources/css_classes/nice.css" />




		<h:form id="form_lol">
			<h1>
				<h:outputText value="CREATE QUESTIONPOOL" style="color:white;" />
			</h1>

			<h3>
				<h:outputText
					value="Enter the topic, choose the difficulty and the amount of wrong answers "
					style="color:white;" />
			</h3>


			<p:messages showDetail="false" closable="true" showSummary="true">
				<p:autoUpdate />
			</p:messages>

			<h:panelGrid columns="2" style="margin: 0 auto;">
				<p:outputLabel value="Topic: " class="schrift" />
				<p:inputText id="topic" value="#{poolDetailController.pool.topic}"
					required="true" requiredMessage="please enter a Topic"
					class="inputtexter" />

				<p:outputLabel value="Difficulty: " class="schrift" />
				<h:selectOneMenu id="difficulty" value="#{poolDetailController.pool.difficulty}"
					class="dropdownlist">
					<f:selectItem itemlabel="Easy" itemValue="EASY" />
					<f:selectItem itemlabel="Hard" itemValue="HARD" />
				</h:selectOneMenu>

				<p:outputLabel value="Amount wrong answers: " class="schrift" />
				<h:selectOneMenu id="amount" value="#{poolDetailController.amount}"
					update=":form" class="dropdownlist" immediate="true">
					<f:selectItem itemlabel="3" itemValue="3" />
					<f:selectItem itemlabel="4" itemValue="4" />
					<f:selectItem itemlabel="5" itemValue="5" />
				</h:selectOneMenu>


				<p:commandButton  value="Add questions" update="@form"
					action="#{poolDetailController.doCreatePool()}"
					oncomplete="PF('dlg').show()" class="commandButton" />



				<p:dialog header="QuestionInput" widgetVar="dlg"
					showEffect="explode" hideEffect="puff" height="350" width="700"
					oncomplete="PF('dlg2').show();">



					<!--	<p:messages showDetail="false" closable="true" showSummary="true">
						<p:autoUpdate />
					</p:messages> -->


					<h:panelGrid columns="2" style="margin: 0 auto;">

						<p:outputLabel value="Question: " class="schrift" />
						<p:inputText id="q" value="#{poolDetailController.tester}"
							class="inputtexter" />

						<p:outputLabel value="Correct answer: " class="schrift" />
						<p:inputText id="a1" value="#{poolDetailController.test}"
							class="inputtexter" />


						<p:outputLabel value="Wrong answer 1: "
							rendered="#{poolDetailController.showDrei()}" class="schrift" />
						<p:inputText id="a2" value="#{poolDetailController.test}"
							rendered="#{poolDetailController.showDrei()}" class="inputtexter" />

						<p:outputLabel value="Wrong answer 2: "
							rendered="#{poolDetailController.showDrei()}" class="schrift" />
						<p:inputText id="a3" value="#{poolDetailController.test}"
							rendered="#{poolDetailController.showDrei()}" class="inputtexter" />

						<p:outputLabel value="Wrong answer 3: "
							rendered="#{poolDetailController.showDrei()}" class="schrift" />
						<p:inputText id="a4" value="#{poolDetailController.test}"
							rendered="#{poolDetailController.showDrei()}" class="inputtexter" />

						<p:outputLabel value="Wrong answer 4: "
							rendered="#{poolDetailController.showVier()}" class="schrift" />
						<p:inputText id="a5" value="#{poolDetailController.test}"
							rendered="#{poolDetailController.showVier()}" class="inputtexter" />

						<p:outputLabel value="Wrong answer 5: "
							rendered="#{poolDetailController.showFunf()}" class="schrift" />
						<p:inputText id="a6" value="#{poolDetailController.test}"
							rendered="#{poolDetailController.showFunf()}" class="inputtexter" />

						<p:commandButton value="Save to Pool"
							action="#{poolDetailController.hoi()}"
							onclick="PF('dlg1').show();" class="commandButton" />

					</h:panelGrid>
				</p:dialog>



				<p:dialog header="Question Saved" widgetVar="dlg1" height="100"
					width="500" style="margin: 0 auto;">
					<h:outputText
						value="The Question was saved and added to the Questionpool. Type in a new one." />
				</p:dialog>

				<p:dialog header="Question Saved" widgetVar="dlg2" height="100"
					width="500" style="margin: 0 auto;">
					<h:outputText
						value="The Pool was saved. To see all pools go to All Questionpools " />
				</p:dialog>



			</h:panelGrid>

		</h:form>
	</ui:define>
</ui:composition>
