<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3c.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	template="/WEB-INF/templates/main.xhtml">


	<head>
<h:outputStylesheet library="css" name="/resources/css_classes/nice.css" />
	</head>
	<ui:define name="content">

		<h:outputStylesheet library="css"
			name="/resources/css_classes/nice.css" />

		<link type="text/css" rel="stylesheet"
			href="/resources/css_classes/nice.css" />

		<h:form id="myPoolsForm">

			<h1>
				<h:outputText value="MY QUESTIONPOOLS" style="color:white;" />
			</h1>

			<h3>
				<h:outputText value="These are your questionpools "
					style="color:white;" />
			</h3>



			<p:dataTable id="myPoolsTable" var="pool"
				value="#{poolListController.getMyPools()}">
				<p:column width="120" headerText="Topic" filterBy="#{pool.topic}">
					<h:outputText value="#{pool.topic}" />
				</p:column>
				<p:column width="150" headerText="Difficulty"
					filterBy="#{pool.difficulty}">
					<h:outputText value="#{pool.difficulty}" />
				</p:column>
				<p:column style="width:100px;text-align: center">
					<p:commandButton update=":myPoolsForm2:myPoolsDialog"
						oncomplete="PF('myPoolsDialog').show()" icon="ui-icon-note"
						title="Show">
						<f:setPropertyActionListener value="#{pool}"
							target="#{poolDetailController.currentPool}" />
					</p:commandButton>
					<p:commandButton action="#{poolDetailController.doDeletePool}"
							icon="ui-icon-trash" title="Delete"
							update=":myPoolsForm:myPoolsTable">
							<f:setPropertyActionListener value="#{pool}"
								target="#{poolDetailController.currentPool}" />
							<p:confirm header="Confirmation"
								message="Are you sure that you want to delete this pool? You cannot undo this operation."
								icon="ui-icon-alert" />
						</p:commandButton>
					
				</p:column>
			</p:dataTable>
		</h:form>


		<h:form id="myPoolsForm2">
			<p:dialog id="myPoolsDialog" header="MyPools"
				widgetVar="myPoolsDialog" modal="true" showEffect="fade"
				hideEffect="fade" resizable="true" height="100%" class="hoila">

				<h:panelGrid columns="3" cellpadding="3">
					<p:commandButton value="Add questions" update=":myPoolsForm2:dlg" 
					action="#{poolDetailController.doAddQuestionsToPool()}" oncomplete="PF('dlg').show()"
					 class="commandButton"/>
					<p:outputLabel value="Amount wrong answers: " class="schrift" />
					<h:selectOneMenu value="#{poolDetailController.amount}"
						update=":form" class="dropdownlist">
						<f:selectItem itemlabel="3" itemValue="3" />
						<f:selectItem itemlabel="4" itemValue="4" />
						<f:selectItem itemlabel="5" itemValue="5" />
					</h:selectOneMenu>
				</h:panelGrid>

				<p:dataTable id="myPools" var="question"
					value="#{poolDetailController.currentPool.questions}"
					style="margin-bottom:40px" widgetVar="myPoolsTable">

					<p:column headerText="Question">
						<h:outputText value="#{question.question}" />
					</p:column>
					<p:column headerText="Answers">
						<p:dataList id="answers" value="#{question.answers}" var="answer"
							itemType="disc">
 							#{answer.getAnswer()}
 						</p:dataList>
					</p:column>
					<p:column>
						<p:commandButton action="#{poolDetailController.doSetAnswers()}"
							update=":myPoolsForm2:poolEditDialog"
							oncomplete="PF('poolEditDialog').show()" icon="ui-icon-note"
							title="Edit">
							<f:setPropertyActionListener value="#{question}"
								target="#{poolDetailController.questionDelete}" />
						</p:commandButton>
						<p:commandButton action="#{poolDetailController.doDeleteQuestion}"
							icon="ui-icon-trash" title="Delete"
							update=":myPoolsForm2:myPools">
							<f:setPropertyActionListener value="#{question}"
								target="#{poolDetailController.questionDelete}" />
							<p:confirm header="Confirmation"
								message="Are you sure that you want to delete this user? You cannot undo this operation."
								icon="ui-icon-alert" />
						</p:commandButton>
					</p:column>
				</p:dataTable>
			</p:dialog>

			<p:dialog header="Edit Question" id="poolEditDialog" modal="true"
				showEffect="explode" widgetVar="poolEditDialog" hideEffect="puff"
				resizable="false" height="350" width="700">



				<p:outputPanel id="questionData"
					rendered="#{not empty poolDetailController.questionDelete}">
					<h:panelGrid columns="2" style="margin: 0 auto;">
						<p:outputLabel for="question" value="Question: " />
						<p:inputText id="question"
							value="#{poolDetailController.questionDelete.question}" />

						<p:outputLabel value="Correct answer: " class="schrift" />
						<p:inputText value="#{poolDetailController.answers[0].answer}"
							class="inputtexter" />

						<p:outputLabel value="Wrong answer 1: "
							rendered="#{poolDetailController.showDrei()}" class="schrift" />
						<p:inputText value="#{poolDetailController.answers[1].answer}"
							rendered="#{poolDetailController.showDrei()}" class="inputtexter" />

						<p:outputLabel value="Wrong answer 2: "
							rendered="#{poolDetailController.showDrei()}" class="schrift" />
						<p:inputText value="#{poolDetailController.answers[2].answer}"
							rendered="#{poolDetailController.showDrei()}" class="inputtexter" />

						<p:outputLabel value="Wrong answer 3: "
							rendered="#{poolDetailController.showDrei()}" class="schrift" />
						<p:inputText value="#{poolDetailController.answers[3].answer}"
							rendered="#{poolDetailController.showDrei()}" class="inputtexter" />

						<p:outputLabel value="Wrong answer 4: "
							rendered="#{poolDetailController.showVier()}" class="schrift" />
						<p:inputText value="#{poolDetailController.answers[4].answer}"
							rendered="#{poolDetailController.showVier()}" class="inputtexter" />

						<p:outputLabel value="Wrong answer 5: "
							rendered="#{poolDetailController.showFunf()}" class="schrift" />
						<p:inputText value="#{poolDetailController.answers[5].answer}"
							rendered="#{poolDetailController.showFunf()}" class="inputtexter" />

					</h:panelGrid>
					<h:panelGrid columns="2">
						<p:commandButton value="Save"
							action="#{poolDetailController.doSaveQuestion()}"
							oncomplete="PF('poolEditDialog').hide()"
							update=":myPoolsForm2:myPools" />
						<p:commandButton value="Abort"
							onclick="PF('poolEditDialog').hide()" />
					</h:panelGrid>
				</p:outputPanel>
			</p:dialog>

			<p:dialog header="QuestionInput" widgetVar="dlg" showEffect="explode"
				hideEffect="puff" height="350" width="700"
				oncomplete="PF('dlg2').show();"  id="dlg">
				<h:panelGrid columns="2" style="margin: 0 auto;">

					<p:outputLabel value="Question: " class="schrift" />
					<p:inputText value="#{poolDetailController.tester}"
						class="inputtexter" />

					<p:outputLabel value="Correct answer: " class="schrift" />
					<p:inputText value="#{poolDetailController.test}"
						class="inputtexter" />


					<p:outputLabel value="Wrong answer 1: "
						rendered="#{poolDetailController.showDrei()}" class="schrift" />
					<p:inputText value="#{poolDetailController.test}"
						rendered="#{poolDetailController.showDrei()}" class="inputtexter" />

					<p:outputLabel value="Wrong answer 2: "
						rendered="#{poolDetailController.showDrei()}" class="schrift" />
					<p:inputText value="#{poolDetailController.test}"
						rendered="#{poolDetailController.showDrei()}" class="inputtexter" />

					<p:outputLabel value="Wrong answer 3: "
						rendered="#{poolDetailController.showDrei()}" class="schrift" />
					<p:inputText value="#{poolDetailController.test}"
						rendered="#{poolDetailController.showDrei()}" class="inputtexter" />

					<p:outputLabel value="Wrong answer 4: "
						rendered="#{poolDetailController.showVier()}" class="schrift" />
					<p:inputText value="#{poolDetailController.test}"
						rendered="#{poolDetailController.showVier()}" class="inputtexter" />

					<p:outputLabel value="Wrong answer 5: "
						rendered="#{poolDetailController.showFunf()}" class="schrift" />
					<p:inputText value="#{poolDetailController.test}"
						rendered="#{poolDetailController.showFunf()}" class="inputtexter" />

					<p:commandButton value="Save to Pool"
						action="#{poolDetailController.hoi()}"
						onclick="PF('dlg1').show();" class="commandButton" 
						update=":myPoolsForm2:myPools"/>

				</h:panelGrid>
			</p:dialog>



			<p:dialog header="Question Saved" widgetVar="dlg1" height="100"
				width="500" style="margin: 0 auto;">
				<h:outputText
					value="The Question was saved and added to the Questionpool. Type in a new one." />
			</p:dialog>

			<p:dialog header="Question Saved" widgetVar="dlg2" height="100"
				width="500" style="margin: 0 auto;">
				<h:outputText
					value="The Pool was saved. To see all pools go to All Questionpools " />
			</p:dialog>

			<p:confirmDialog global="true" showEffect="fade" hideEffect="fade"
				width="300">
				<p:commandButton value="Yes" type="button"
					styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
				<p:commandButton value="No" type="button"
					styleClass="ui-confirmdialog-no" icon="ui-icon-close" />

			</p:confirmDialog>


		</h:form>
	</ui:define>
</ui:composition>