@font-face {
	font-family: fontiger;
	src: url(/resources/fonts/Palanquin-Bold.ttf);
	color: black;
}

div {
	color: black;
	font-family: fontiger;
}

panel {
	font-family: fontiger;
	color: black;
	background-color: black;
}

panelgrid {
	font-family: fontiger;
	color: black;
	background-color: black;
}

commandbutton {
	font-family: fontiger;
	color: white;
	background-color: black;
}

menubar {
	font-family: fontiger;
	color: black;
	background-color: black;
}

.menuitem {
	font-family: fontiger;
	color: white;
}

menuitem {
	font-family: fontiger;
	color: white;
}

menu {
	font-family: fontiger;
	color: white;
	background-color: #00BFFF;
}

.backgroundcolor {
	font-family: fontiger;
	color: white;
	background-color: #00BFFF;
}

.ui-menu.sidebarmenu {
	font-family: fontiger;
	color: white;
	overflow-y: auto;
	height: 550px;
	width: 330px;
	background-color: #00BFFF;
}

.schrift {
	font-family: fontiger;
	color: black;
	font-size: 20px;
}

.commandButton {
	font-family: fontiger;
	color: black;
	background-color: white;
	margin: 0 auto;
	padding: 5px;
	border-radius: 25px;
}

.dropdownlist {
	font-family: fontiger;
	color: black;
	background-color: white;
	margin: 0 auto;
	padding: 5px;
	border-radius: 25px;
	border: 2px solid #9400D3;
}

.inputtexter {
	font-family: fontiger;
	color: black;
	background-color: white;
	margin: 0 auto;
	padding: 5px;
	border-radius: 25px;
	border: 2px solid #9400D3;
}

h1 {
	font-family: fontiger;
	color: white;
}

.black {
	font-family: fontiger;
	color: black;
}

.white {
	font-family: fontiger;
	color: white;
}

p {
	color: black;
	font-size: 20px;
	font-family: fontiger;
}

h {
	color: black;
	font-family: fontiger;
}

dataTable {
	color: black;
	background-color: #00BFFF;
	font-family: fontiger;
	table-layout: fixed !important;
	width: 100% !important;
	text-align: center;
	align: center;
	margin-left: auto;
	margin-right: auto;
	font-size: 20px;
	background-image: none;
}

.ui-datatable {
	color: black;
	background-color: #00BFFF;
	font-family: fontiger;
	table-layout: fixed !important;
	width: 100% !important;
	text-align: center;
	align: center;
	margin-left: auto;
	margin-right: auto;
	font-size: 20px;
	background-image: none;
}

.ui-datatable-header {
	border-bottom: 0px none;
	background-color: #00BFFF;
	color: black;
}

.datatabler {
	border: 2px solid #9400D3;
	background-color: white;
}

.datatable .ui-outputlabel {
	color: black;
	background-color: #00BFFF;
	font-family: fontiger;
	table-layout: fixed !important;
	width: 100% !important;
	text-align: center;
	align: center;
	margin-left: auto;
	margin-right: auto;
	font-size: 20px;
	row-backgorund: #00BFFF;
	row-selected: #ff00cc;
	margin: 0 auto;
	background-image: none;
}

panelgrid {
	font-family: fontiger;
	color: black;
	margin: 0 auto;
	font-size: 20px;
}

.outputLabel {
	font-family: fontiger;
	color: black;
}

.panelGrid {
	font-family: fontiger;
	color: black;
	text-align: center;
	font-size: 20px;
}

.text-input {
	font-family: fontiger;
	border: solid 1px #e0e0e0;
}

.cursorPointer {
	font-family: fontiger;
	cursor: pointer;
}

.borderNone {
	font-family: fontiger;
	border: none !important;
}

.floatRight {
	font-family: fontiger;
	float: right;
}

.autoMargin {
	font-family: fontiger;
	margin: 0 auto;
}

.textCenter {
	font-family: fontiger;
	text-align: center;
}

.selectOneMenu {
	font-family: fontiger;
	text-align: center;
	height: 40px;
	width: 110px;
	margin: 0 auto;
	text-align-last: center;
	border: 2px solid #9400D3;
}

body {
	font-family: fontiger;
	background-image: url("/resources/css_classes/blau.jpg");
	background-color: black;
	text-align: center;
	align: center;
	margin-left: auto;
	margin-right: auto;
	font-size: 20px;
	font-family: fontiger;
}

dialog {
	font-family: fontiger;
	background-color: black;
}

.menuitem {
	font-family: fontiger;
	color: white;
	background-color: white;
	border: 2px solid #9400D3;
	border-radius: 25px;
	text-align: center;
}

menuitem {
	font-family: fontiger;
	color: white;
	background-color: white;
	padding: 10px;
}

panel .paneler {
	font-family: fontiger;
	background-color: white;
	color: black;
	border-radius: 25px;
	border: 2px solid #73AD21;
	padding: 20px;
}

datalist .datalist {
	font-family: fontiger;
	background-color: white;
	color: black;
	border-radius: 25px;
	border: 2px solid #73AD21;
	padding: 20px;
}

.datalist-noborder .ui-widget-content {
	border: none;
}

.ui-datalist .ui-datalist-header, .ui-datalist .ui-datalist-footer {
	background-color: #03A9F4 !important; /* SoftBlueBack */
}

.dataList .ui-datalist-data .ui-widget-overlay .ui-dialog-mask {
	border: none;
	background: transparent;
	background-image: none;
	background-color: blue;
}

.ui-panel .ui-panel-content {
	
}

.rounded {
	border-radius: 25px;
}

.texter {
	border-radius: 25px;
	padding: 10px;
}

.ui-widget-content {
	background-color: white;
}

.ui-panel .ui-panel-titlebar {
	background-color: white;
	border: 2px solid #9400D3;
	border-radius: 25px;
}

.ui-corner-all {
	border: 2px solid #9400D3;
}

.menuer {
	border: 2px solid #9400D3;
	border-radius: 25px;
}

.ui-panel .ui-widget-content .ui-widget .ui-panel-titlebar .ui-widget-header .ui-helper-clearfix .ui-corner-all .dreck
	{
	font-family: fontiger;
	background-image: url("/resources/css_classes/blau.jpg");
	color: blue;
}

hr {
	color: #9932CC;
}

.headerer {
	border: 2px solid #9400D3;
	background-color: white;
}

.hoila {
	max-height: calc(100vh-210px);
	overflow-y: auto;
}

.gamepanel {
	font-family: fontiger;
	background-image: url("/resources/css_classes/blau.jpg");
}

.gamebutton {
	font-family: fontiger;
	background-color: white;
	border: 2px solid #9400D3;
}

.gamebuttonright {
	font-family: fontiger;
	background-color: green;
}

.gamebuttonfalse {
	font-family: fontiger;
	background-color: red;
}

.ui-dialog-mask {
	max-height: calc(100vh-210px);
	overflow-y: auto;
}