/* For further font implementation use: https://google-webfonts-helper.herokuapp.com */
/* titillium-web-regular - latin-ext_latin */

/* STANDARD CLASSES */
.fontSize35{
    font-size: 35px;
}

.fontSize20{
    font-size: 20px;
}

.fontSize10{
    font-size: 10px;
}

.cursorPointer{
    cursor:pointer;
}

.borderNone{
    border: none !important;
}

.backgroundNone{
    background: rgba(241, 241, 241, 0.0) !important;
}

.backgroundGreen{
    background: #3ae374 !important;
}

.backgroundRed{
    background: #e74c3c !important;
}

.backgroundBlue{
    background: #0083db !important;
}

.backgroundOrange{
    background: #e67e22 !important;
}

.backgroundGreenT{
    background: rgba(58, 227, 116, 0.4) !important;
}

.backgroundRedT, #formLogin #username, #formRegister\:username, #formRegister\:email {
    background: rgba(231, 76, 60, 0.4) !important;
}

.backgroundBlueT{
    background: rgba(0, 131, 219, 0.4) !important;
}

.backgroundOrangeT, #formLogin #password, #formRegister\:firstname, #formRegister\:lastname {
    background: rgba(230, 123, 34, 0.4) !important;
}

.backgroundYellowT, #formRegister\:password, #formRegister\:repeat-password{
    background: rgba(255, 250, 101, 0.4) !important;
}

.colorGreen{
    color: #3ae374 !important;
}

.colorRed{
    color: #e74c3c !important;
}

.colorBlue{
    color: #0083db !important;
}

.colorOrange{
    color: #e67e22 !important;
}

.colorYellow{
    color:#f1c40f !important;
}

.topMargin5{
    margin-top: 10px !important;
}

.topMargin10{
    margin-top: 10px !important;
}

.topMargin20{
    margin-top: 20px !important;
}

.leftMargin25{
    margin-left: 25px !important;
}

.width100p{
    width: 100%;
}

.width125{
    width: 125px !important;
}

.width250{
    width: 250px !important;
}

.floatRight{
    float:right;
}

.autoMargin{
    margin: 0 auto;
}

.textCenter{
    text-align:center;
}

.onePixelCorrectionLeft{
    left: -1px !important;
}

/* FROSTED GLASS */
/* https://css-tricks.com/frosting-glass-css-filters/ */
html, body, .glass {
    width: 100%;
    height: 100%;
    overflow: hidden;
    box-shadow: none !important;
}

.glass::before {
    display: block;
    width: 100%;
    height: 100%;

    filter: blur(5px);
    background-size: cover;
    content: ' ';
    opacity: 0.4;
}
.glass {
    background-color: white;
}


/* HEADER */
#header{
    margin-bottom: 10px;
}

/* BODY */
body {

    background-attachment: fixed;
    background-repeat: no-repeat;
}

.menubutton{
    cursor:pointer;
}

/* TOP MENU */
.topmenu {
    width:100%;
    display:inline-block;
    font-size:30px;
    top:12px;
    position:absolute;
}

.topmenu a {
    color:black;
    text-decoration: none;
    float: right;
    padding-right: 30px;
    cursor:pointer;
    -webkit-transition: color 300ms;
}

/* SIDE NAVIGATION MENU */

.sidenavspan {
    text-align:center;
    border: 1px solid black;
    width:100%;
    display:inline-block;
    padding-top:2px;
    cursor: default;
    color: white;
    margin-top:5px;
}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(241, 241, 241, 1.0);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 10px;
    white-space: nowrap;
    text-decoration: none;
}

.sidenav li {
    font-style: normal;
    text-decoration:none;
}
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 16px;
    color: #414141;
    display: block;
    transition: 0.3s;
}

.sidenav .closebtn {
    position: absolute;
    top: 5px;
    right: 25px;
    font-size: 30px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 16px;}
}

@media screen and (max-width: 800px) {
    .menubutton {font-size:0px; }
}

#hrefWelcome{
    padding-bottom: 12px; font-size:20px;
}

#spanPlay{
    background-color: #0083db;
}

#spanSettings{
    background-color: #e67e22;
}

#spanAdministration{
    background-color: #e74c3c;
}

#spanSidenavSeperator{
    border: 0;
    border-top: 1px solid black;
    background: none;
}

#loginform {
    margin: auto;
    width: 350px;
    position:relative;
}

#registerform {
    margin: auto;
    width: 350px;
    position:relative;
}

body{
    background-size: cover;
    background-repeat: repeat;
    background-color: white;
    overflow: hidden;
}

div.well{
  height: 250px;
}

.ui-datatable{
    text-align: center;
}

/* CENTER TEMPLATE */
/*https://codepen.io/OldManJava/pen/bwupj */
.absoluteCenter {
    margin: auto;
    margin-top: 70px;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    width: 95%;
    height: 80%;
    min-height: 50%;
    max-height: 100%;
    min-width: 50%;
    max-width: 100%;
}

.absoluteCenter.is-Responsive {
    min-width: 350px;
    max-width: 1000px;
}

/*LOGO CONTAINER*/
/*https://codepen.io/OldManJava/pen/bwupj */
#logo-container{
  margin: auto;
  margin-bottom: 10px !important;
    margin-top: 10% !important;
  width:260px;
  height:160px;
  background-image:url("/resources/images/logo_onlytext.png");
  background-size: cover;
}

/* TOGGLE SLIDER */
 /* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  transform: scale(0.7);
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #e67e22;
}

input:focus + .slider {
  box-shadow: none !important;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.ui-widget {
	font-family: Titillium Web;
	font-size: 1em;
	box-shadow: none !important;
	text-shadow: none !important;
}

.ui-inputfield {
	background-color: #e8e8e8 !important;
	color: black !important;
	border: none !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
}

.ui-datatable thead th, .ui-datatable tbody td, .ui-datatable tfoot td, .ui-datatable tfoot th
{
    text-shadow: none;
    border: none;
}

.ui-datatable thead a{
    border: 1px solid;
}

 .ui-resizable-column {
    text-shadow: none !important;
    border: 1px solid white !important;
}

.ui-panel .ui-panel-title {
    text-shadow: none;
}

/* LOGIN PAGE & REGISTER PAGE */
#panelLogin{
    margin:auto;
    width:100%;
    height:100%;
    border:none;
}

.inputLogin{
    width:250px;
    height:30px;
    text-align:center;
}

#spanPasswordVisible{
    font-size:10px;
    position:relative;
    left:-25px;
    color: black
}

#hrefForgotPassword{
    width:95%;
    font-size:12px;
    position:relative;
    right:-20px;
    color: black;
}

/*!
 * jQuery UI CSS Framework 1.12.1
 * http://jqueryui.com
 *
 * Copyright jQuery Foundation and other contributors
 * Released under the MIT license.
 * http://jquery.org/license
 *
 * http://api.jqueryui.com/category/theming/
 *
 * To view and modify this theme, visit http://jqueryui.com/themeroller/?scope=&folderName=custom-theme&bgImgOpacityError=&bgImgOpacityHighlight=&bgImgOpacityActive=&bgImgOpacityHover=&bgImgOpacityDefault=&bgImgOpacityContent=&bgImgOpacityHeader=0&cornerRadiusShadow=2px&offsetLeftShadow=0px&offsetTopShadow=0px&thicknessShadow=0px&opacityShadow=100&bgImgOpacityShadow=0&bgTextureShadow=flat&bgColorShadow=%23000000&opacityOverlay=90&bgImgOpacityOverlay=0&bgTextureOverlay=3D_boxes&bgColorOverlay=%23ffffff&iconColorError=%23ffe413&fcError=%23ffffff&borderColorError=%23e72b17&bgTextureError=flat&bgColorError=%23e72b17&iconColorHighlight=%23ffffff&fcHighlight=%23ffffff&borderColorHighlight=%230886db&bgTextureHighlight=flat&bgColorHighlight=%230886db&iconColorActive=%23ffffff&fcActive=%23ffffff&borderColorActive=%230083db&bgTextureActive=flat&bgColorActive=%230083db&iconColorHover=%23ffffff&fcHover=%23ffffff&borderColorHover=%230083db&bgTextureHover=flat&bgColorHover=%230083db&iconColorDefault=%23ffffff&fcDefault=%23ffffff&borderColorDefault=%23429ddb&bgTextureDefault=flat&bgColorDefault=%23429ddb&iconColorContent=%23ffffff&fcContent=%23313131&borderColorContent=%23fafafa&bgTextureContent=flat&bgColorContent=%23fafafa&iconColorHeader=%23111111&fcHeader=%23111111&borderColorHeader=%23f1f1f1&bgTextureHeader=flat&bgColorHeader=%23f1f1f1&cornerRadius=2px&fwDefault=normal&fsDefault=1em&ffDefault=Titillium%20Web
 */


/* Component containers
----------------------------------*/
.ui-widget {
	font-family: Titillium Web;
	font-size: 1em;
	box-shadow: none !important;
	text-shadow: none !important;
}
.ui-widget .ui-widget {
	font-size: 1em;
}
.ui-widget input,
.ui-widget select,
.ui-widget textarea,
.ui-widget button {
	font-family: Titillium Web;
	font-size: 1em;
}
.ui-widget.ui-widget-content {
	border: 1px solid #429ddb;
}
.ui-widget-content {
	border: 1px solid #fafafa;
	background: #fafafa;
	color: #313131;
}
.ui-widget-content a {
	color: #313131;
}
.ui-widget-header {
	border: 1px solid #e8e8e8;
	background: #e8e8e8;
	color: #111111;
	font-weight: bold;
}
.ui-widget-header a {
	color: #111111;
}

/* Interaction states
----------------------------------*/
.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default,
.ui-button,

/* We use html here because we need a greater specificity to make sure disabled
works properly when clicked or hovered */
html .ui-button.ui-state-disabled:hover,
html .ui-button.ui-state-disabled:active {
    box-shadow: none !important;
	border: none;
	background: #429ddb;
	font-weight: normal;
	color: #ffffff;
}
.ui-state-default a,
.ui-state-default a:link,
.ui-state-default a:visited,
a.ui-button,
a:link.ui-button,
a:visited.ui-button,
.ui-button {
    box-shadow: none !important;
	color: #ffffff;
	text-decoration: none;
}
.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus,
.ui-button:hover,
.ui-button:focus {
	border: none;
	background: #0083db;
	font-weight: normal;
	color: #ffffff;
}

.ui-state-hover a,
.ui-state-hover a:hover,
.ui-state-hover a:link,
.ui-state-hover a:visited,
.ui-state-focus a,
.ui-state-focus a:hover,
.ui-state-focus a:link,
.ui-state-focus a:visited,
a.ui-button:hover,
a.ui-button:focus {
	color: #ffffff;
	text-decoration: none;
}

.ui-visual-focus {
	box-shadow: none !important;
}
.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active,
a.ui-button:active,
.ui-button:active,
.ui-button.ui-state-active:hover {
	border: none;
	background: #0083db;
	font-weight: normal;
	color: #ffffff;
}
.ui-icon-background,
.ui-state-active .ui-icon-background {
	border: #0083db;
	background-color: #ffffff;
}
.ui-state-active a,
.ui-state-active a:link,
.ui-state-active a:visited {
	color: #ffffff;
	text-decoration: none;
}

/* Interaction Cues
----------------------------------*/
.ui-state-highlight,
.ui-widget-content .ui-state-highlight,
.ui-widget-header .ui-state-highlight {
	border: 1px solid #0886db;
	background: #0886db;
	color: #ffffff;
}
.ui-state-checked {
	border: 1px solid #0886db;
	background: #0886db;
}
.ui-state-highlight a,
.ui-widget-content .ui-state-highlight a,
.ui-widget-header .ui-state-highlight a {
	color: #ffffff;
}
.ui-state-error,
.ui-widget-content .ui-state-error,
.ui-widget-header .ui-state-error {
	border: 1px solid #e72b17;
	background: #e72b17;
	color: #ffffff;
}
.ui-state-error a,
.ui-widget-content .ui-state-error a,
.ui-widget-header .ui-state-error a {
	color: #ffffff;
}
.ui-state-error-text,
.ui-widget-content .ui-state-error-text,
.ui-widget-header .ui-state-error-text {
	color: #ffffff;
}
.ui-priority-primary,
.ui-widget-content .ui-priority-primary,
.ui-widget-header .ui-priority-primary {
	font-weight: bold;
}
.ui-priority-secondary,
.ui-widget-content .ui-priority-secondary,
.ui-widget-header .ui-priority-secondary {
	opacity: .7;
	filter:Alpha(Opacity=70); /* support: IE8 */
	font-weight: normal;
}
.ui-state-disabled,
.ui-widget-content .ui-state-disabled,
.ui-widget-header .ui-state-disabled {
	opacity: .35;
	filter:Alpha(Opacity=35); /* support: IE8 */
	background-image: none;
}
.ui-state-disabled .ui-icon {
	filter:Alpha(Opacity=35); /* support: IE8 - See #6059 */
}

/* Misc visuals
----------------------------------*/

/* Corner radius */
.ui-corner-all,
.ui-corner-top,
.ui-corner-left,
.ui-corner-tl {
	border-top-left-radius: 2px;
}
.ui-corner-all,
.ui-corner-top,
.ui-corner-right,
.ui-corner-tr {
	border-top-right-radius: 2px;
}
.ui-corner-all,
.ui-corner-bottom,
.ui-corner-left,
.ui-corner-bl {
	border-bottom-left-radius: 2px;
}
.ui-corner-all,
.ui-corner-bottom,
.ui-corner-right,
.ui-corner-br {
	border-bottom-right-radius: 2px;
}

/* Overlays */
.ui-widget-shadow {
	-webkit-box-shadow: none !important;
}


/* Newly added by Simon, I don't know where to put this, I have no clue of CSS TODO: put somewhere ;)
----------------------------------*/
.wrongPIN{
    width:200px;
    height:25px;
    background-color: darksalmon !important;
}

