<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3c.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:ng="http://xmlns.jcp.org/jsf/passthrough"
	xmlns:p="http://primefaces.org/ui"
	template="/WEB-INF/templates/main.xhtml">
	<ui:define name="content">
		<link type="text/css" rel="stylesheet"
			href="/resources/css_classes/nice.css" />
	
	
		<h:form>
			<p:panel header="This is the Quiz of Gruppe V!" class="rounded" >
				<div  style="height: 50px">On the left you can
					find the menu and all the great functions of this game.</div>
			</p:panel>
		</h:form>
	</ui:define>
</ui:composition>