<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

<head>
<link type="text/css" rel="stylesheet"
	href="/resources/css_classes/nice.css" />

<link rel="stylesheet" href="/resources/css_classes/nice.css" />

</head>

<body>
	<ui:composition>
		<h:form>


			<link type="text/css" rel="stylesheet"
				href="/resources/css_classes/nice.css" />



			<!--  <p:menubar class="backgroundcolor">
				<p:menuitem value="Login" url="/login.xhtml"
					rendered="#{!sessionInfoBean.loggedIn}" />
				<p:menuitem value="Menu" oncomplete="PF('sidebar1').show()" />
			</p:menubar>-->
			<img src="/resources/css_classes/logoGruppeV.png" height="60"
				style="margin: 0 auto;" href="/user/creategame.xhtml" />
			<p:separator />

			<h:panelGrid columns="1">
				<img src="/resources/css_classes/menu.png" height="30" size="30"
					align="left" onclick="PF('sidebar1').show()" />
			</h:panelGrid>

			<!-- <p:commandButton value="Menu"
				oncomplete="PF('sidebar1').show()" style="align: left" /> -->

			<p:sidebar widgetVar="sidebar1" height="100%" style="margin: 0;">

				<p:menu toggleable="true" class="sidebarmenu" width="6080" style="margin: 0;">
					<p:submenu label="Play"
						rendered="#{sessionInfoBean.hasRole('PLAYER')}" class="menuer" style="color: black;">
						<p:menuitem value="Create game" url="/user/creategame.xhtml"
							class="menuitem" />
						<p:menuitem value="Join game" url="/user/joingame.xhtml"
							class="menuitem" />
					</p:submenu>
					<p:submenu label="Profile"
						rendered="#{sessionInfoBean.hasRole('PLAYER')}" class="menuer" style="color: black;"     	>
						<p:menuitem value="My profile" url="/user/myprofile.xhtml"
							class="menuitem" />
						<p:menuitem value="All profiles!" url="/user/allprofiles.xhtml"
							class="menuitem" />
						<p:menuitem value="Edit my profil" url="/user/editmyprofile.xhtml"
							class="menuitem" />
					</p:submenu>
					<p:submenu label="Statistics"
						rendered="#{sessionInfoBean.hasRole('PLAYER')}" class="menuer">
						<p:menuitem value="My statistics" url="/user/mystatistics.xhtml"
							class="menuitem" />
					</p:submenu>

					<p:submenu label="Play"
						rendered="#{sessionInfoBean.hasRole('TEACHER')}" class="menuer"> 
						<p:menuitem value="Create game" url="/user/creategame.xhtml"
							class="menuitem" />
						<p:menuitem value="Join game" url="/user/joingame.xhtml"
							class="menuitem" />
					</p:submenu>
					<p:submenu label="Profile"
						rendered="#{sessionInfoBean.hasRole('TEACHER')}" class="menuer">
						<p:menuitem value="My profile" url="/user/myprofile.xhtml"
							class="menuitem" />
						<p:menuitem value="All profiles" url="/user/allprofiles.xhtml"
							class="menuitem" />
							<p:menuitem value="Edit my profil" url="/user/editmyprofile.xhtml"
							class="menuitem" />
					</p:submenu>
					<p:submenu label="Statistics"
						rendered="#{sessionInfoBean.hasRole('TEACHER')}" class="menuer">
						<p:menuitem value="My statistics" url="/user/mystatistics.xhtml"
							class="menuitem" />
						<p:menuitem value="All statistics" url="/teacher/allstatistics.xhtml"
							class="menuitem" />
					</p:submenu>
					<p:submenu label="Questions"
						rendered="#{sessionInfoBean.hasRole('TEACHER')}" class="menuer">
						<p:menuitem value="Create Questionpool"
							url="/teacher/createpool.xhtml" class="menuitem" />
							<p:menuitem value="My Questionpools" url="/teacher/mypools.xhtml"
 						class="menuitem" />		
						<p:menuitem value="All Questionpools"
							url="/teacher/allpools.xhtml" class="menuitem" />
					</p:submenu>
					<p:submenu label="Users"
						rendered="#{sessionInfoBean.hasRole('TEACHER')}" class="menuer">
						<p:menuitem value="Create User" url="/teacher/createUser.xhtml"
							class="menuitem" />
					</p:submenu>

					<p:submenu label="Play"
						rendered="#{sessionInfoBean.hasRole('ADMIN')}" class="menuer">
						<p:menuitem value="Create game" url="/user/creategame.xhtml"
							class="menuitem" />
						<p:menuitem value="Join game" url="/user/joingame.xhtml"
							class="menuitem" />
					</p:submenu>
					<p:submenu label="Profile"
						rendered="#{sessionInfoBean.hasRole('ADMIN')}" class="menuer">
						<p:menuitem value="My profile!!" url="/user/myprofile.xhtml"
							class="menuitem" />
						<p:menuitem value="All profiles" url="/user/allprofiles.xhtml"
							class="menuitem" />
							<p:menuitem value="Edit my profil" url="/user/editmyprofile.xhtml"
							class="menuitem" />
					</p:submenu>
					<p:submenu label="Statistics"
						rendered="#{sessionInfoBean.hasRole('ADMIN')}" class="menuer">
						<p:menuitem value="My statistics" url="/user/mystatistics.xhtml"
							class="menuitem" />
						<p:menuitem value="All statistics" url="/teacher/allstatistics.xhtml"
							class="menuitem" />
					</p:submenu>
					<p:submenu label="Questions"
						rendered="#{sessionInfoBean.hasRole('ADMIN')}" class="menuer">
						<p:menuitem value="Create Questionpool"
							url="/teacher/createpool.xhtml" class="menuitem" />
							<p:menuitem value="My Questionpools" url="/teacher/mypools.xhtml" class="menuitem" />
						<p:menuitem value="All Questionpools"
							url="/teacher/allpools.xhtml" class="menuitem" />
					</p:submenu>
					<p:submenu label="Users"
						rendered="#{sessionInfoBean.hasRole('ADMIN')}" class="menuer">
						<p:menuitem value="Create User" url="/teacher/createUser.xhtml"
							class="menuitem" />
						
						<p:menuitem value="Manage User" url="/admin/manageuser.xhtml"
							class="menuitem" />
					</p:submenu>

					<p:menuitem value="Login" url="/login.xhtml"
						rendered="#{!sessionInfoBean.loggedIn}" class="menuitem" />
					<p:menuitem value="Logout" url="/logout"
						rendered="#{sessionInfoBean.loggedIn}" class="menuitem" />



				</p:menu>
			</p:sidebar>
		</h:form>
	</ui:composition>
</body>
</html>

