<ui:composition xmlns="http://www.w3c.org/1999/xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:ng="http://xmlns.jcp.org/jsf/passthrough"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/templates/main.xhtml">
 <head>
 <link type="text/css" rel="stylesheet"
	href="/resources/css_classes/nice.css" />
 </head>               
                
                <link type="text/css" rel="stylesheet"
	href="/resources/css_classes/nice.css" />
	
    <ui:define name ="content">
        <form id="login_form" action="#{request.contextPath}/login" method="post">
        <h:panelGroup styleClass="error" layout="block" rendered="#{param.error != null}">
				<h:outputText value="Wrong username or password" class="schrift"/>
			</h:panelGroup>
            <h:panelGrid columns="2"   style="margin: 0 auto;"	>
                <p:outputLabel for="username" value="Username:" class="schrift"/>
                <p:inputText id="username" type="text" required="true" class="texter"/>

                <p:outputLabel for="password" value="Password:" class="schrift"/>
                <p:inputText id="password" type="password" required="true"  class="texter"/>

                <button type="submit" class="commandButton" >
                    <span >Login</span>
                </button>
            </h:panelGrid>
        </form>
    </ui:define>
</ui:composition>